@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(/Fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: sfpro;
    src: url(sfpro.OTF);
}

@font-face {
    font-family: mediasans;
    src: url(mediasans.otf);
}

html,body{
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    padding: 0;
    scrollbar-width: thin;
    margin: 0;
    scroll-behavior: smooth;
    cursor: none;
}

.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.contact-left{
    margin-top: 60px;
    flex-basis: 30%;
    margin-right: 5%;
    margin-left: 20px;
    background-color: #3c3c3c;
    border-radius: 20px;
}
.contact-left h1{
    line-height: 35px;
    color: rgb(243, 180, 72);
    margin-left: 50px;
}
.contact-left h4{
    margin-left: 50px;
    color: white;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 70px;
}
.contact-left p{

    margin-top: 50px;
    font-family: 'Poppins-ExtraLight';
    font-size: 13px;
    color: #f9f9f9;
}
.contact-left p i{
    margin-left: 25px;
    color: #ff004f;
    margin-right: 15px;
    font-size: 15px;
}
.btn{
    display: inline-block;
    background: none;
    cursor: none;
    font-family: 'monstserrat',Poppins;
    box-shadow: 5px 5px #51363663;
    height: 40px;
    border-radius: 10px;
    width: 130px;
    background-color:rgb(243, 180, 72);
    color: rgb(15,21,33);
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: ease 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1:hover{
    background-color: #ff0051c1;
    cursor: none;
    color: white
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    cursor: none;
    resize: none;
    background: #3c3c3c;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
#msg{
    color: #61b752;
    position: relative;
    top: 10px;
    display: block;
}














/* xs */
@media (min-width: 475px)
{

}

/* sm */
@media (min-width: 640px)
{
    
}

/* md */
@media (min-width: 768px)
{
    .row{
        flex-direction: row;
    }
}

/* lg */
@media (min-width: 1024px)
{

}

/* xl */
@media (min-width: 1280px)
{

}

/* 2xl */
@media (min-width: 1536px)
{

}