@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(/Fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: sfpro;
    src: url(sfpro.OTF);
}

@font-face {
    font-family: mediasans;
    src: url(mediasans.otf);
}

html,body{
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    padding: 0;
    scrollbar-width: thin;
    margin: 0;
    scroll-behavior: smooth;
    cursor: none;
}

.section-3{
    width: 100%;
    height: 100vh;
    padding: 80px 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header3{
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    flex-basis: 20%;
    place-items: center;
    text-align: center;
    color: #fff;
}
.header3 h2{
    margin-bottom: 5px;
    color: #f9f9f9;
}
.header3 h2 span{
    color: rgb(243, 180, 72);
}


.skillbranchmain{
    display: flex;
    flex-basis: 80%;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
}
.skillLeft{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: flex-start;
    height: 60%;
    justify-content: space-between;
}
.skillLeft>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.skillLeft>div>h3{
    position: relative;
    color: white;
    font-size: 20px;
    overflow: visible;
    margin: 10px 0;
    font-weight: 400;
    width: 30%;
}
.skillLeft>div>h3::before{
    position: absolute;
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(to right,#e66465, #9198e5);
    z-index: 100;
    left: 0;
    top: -10px;
}
.skillPhotos>img{
    height: 30px;
    width: 30px;
    margin: 3px;
    object-fit: scale-down;
}

.skillRight{
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    height: 80%;
    row-gap: 0;
    justify-content: space-between;
}
.skillRight>div{
    display: flex;
    flex-direction: column;
    background-color: #f3b4480e;
    padding: 20px;
    transition: 1s;
    color: white;
    row-gap: 20px;
}
.skillRight>div:hover{
    background-color: #f3b448be;
}
.skillRight>div>div{
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}






/* xs */
@media (max-width:474px) {
    .skillbranchmain{
        flex-direction: column;
    }
    .skillLeft{
        width: 100%;
    }
    .section-3{
        height: 140vh;
    }
    .skillRight{
        row-gap: 10px;
    }
}
@media (min-width: 475px)
{
    .skillbranchmain{
        flex-direction: column;
    }
    .skillLeft{
        width: 100%;
    }
    .section-3{
        height: 140vh;
    }
    .skillRight{
        row-gap: 10px;
    }
}

/* sm */
@media (min-width: 640px)
{

}

/* md */
@media (min-width: 768px)
{

}

/* lg */
@media (min-width: 1024px)
{
    .skill-main{
        left: 50px;
    }
    .skillbranchmain{
        flex-direction: row;
    }
}

/* xl */
@media (min-width: 1280px)
{

}

/* 2xl */
@media (min-width: 1536px)
{

}